@model GamingHub2.Model.Requests.KonzolaUpsertRequest


<h4>Konzola</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Uredi" asp-controller="Konzola" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group" readonly style="display:none">
                <label>Id</label>
                <input name="Id" value="@ViewBag.Id" class="form-control" />-->
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            <!--</div>-->
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" value="@Model.Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalji" class="control-label"></label>
                <textarea asp-for="Detalji" value="@Model.Detalji" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Detalji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
