@model GamingHub2.Model.Requests.IgraUpsertRequest

@{
    ViewData["Title"] = "Dodaj";
}

<h4>Dodaj igru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Dodaj" asp-controller="Igra" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Izdavac" class="control-label"></label>
                <input asp-for="Izdavac" class="form-control" />
                <span asp-validation-for="Izdavac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzlaska" class="control-label"></label>
                <input asp-for="DatumIzlaska" class="form-control" />
                <span asp-validation-for="DatumIzlaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlikaLink" class="control-label"></label><br />
                @*@if (!string.IsNullOrEmpty(Model.SlikaLink))
                {
                    <img src="@Model.SlikaLink" style="max-width:100px; max-height:100px" />
                }*@
                <input asp-for="SlikaLink" type="file" name="file" id="file" />
                <span asp-validation-for="SlikaLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KonzolaId" readonly hidden class="control-label">Konzole: </label>
                <input asp-for="KonzolaId" readonly hidden class="form-control" />
                <span asp-validation-for="KonzolaId" class="text-danger"></span>
            </div>
            <div>
                @for (int i = 0; i < Model.CheckBox.Count; i++)
                {
                    <label>@Model.CheckBox[i].Text</label>
                    <input type="checkbox" asp-for="@Model.CheckBox[i].IsChecked" />
                    <input type="hidden" asp-for="@Model.CheckBox[i].KonzolaId" />

                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Prikaz">Natrag</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
