@*@page
    @model AccessDeniedModel*@
@{
    ViewData["Title"] = "Access denied";
}
<style>
    #sredisnjisadrzaj {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3% 7%;
        max-width: 100%;
        background-image: url("../img/grey-background.png");
        background-size: cover;
    }

    html, body {
        background-size: cover;
        /* background: #4c4c4c; */
        background-image: url(../img/dark-wallpaper.jpg);
    }
</style>
<header>
    <h1 class="text-danger">Pristup odbijen!</h1>
    <p class="text-danger">Nemate pravo pristupa ovom resursu.</p>
</header>
