
@model GamingHub2.Model.LoginModel

@{
    ViewData["Title"] = "Log in";
    string error_message = TempData["error_message"] != null ? TempData["error_message"].ToString() : null;
}
<style>
    #sredisnjisadrzaj {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3% 4% 3% 11%;
        max-width: 100%;
        background-image: url("../img/dark-wallpaper.jpg");
        background-size: cover;
    }

    html {
        background-size: cover;
        /* background: #4c4c4c; */
        background-image: url(../img/dark-wallpaper.jpg);
    }
</style>


<h1>Logiraj se</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Koristite lokalni racun da se logirate.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.KorisnickoIme"></label>
                    <input asp-for="Input.KorisnickoIme" class="form-control" />
                    <span asp-validation-for="Input.KorisnickoIme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Prijava</button>
                </div>
                @*<div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>*@
                @if (error_message != null)
                {
                    <div class="alert alert-danger">
                        @error_message
                    </div>
                }
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
