/* Globalni selektor - primjenjuje se na svaki element */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#main-container {
    width: 75%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07);
    background-color: rgba(80, 252, 0, 0.041);
    /* height: 1000px; */
}

#postInfo {
    margin: 3% 0;
    padding-top: 2%;
    color: gray;
}

    #postInfo h2 {
        margin: 1% 0;
    }

    #postInfo #autor {
        margin-right: 15px;
    }

#gornjiDio {
    width: 100%;
    height: 350px;
}

#dioZaVideo {
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 1.5%;
}

    #dioZaVideo iframe {
        width: 100%;
        height: 100%;
    }

#dioSaIgrom {
    float: left;
    background-color: rgba(255, 255, 255, 0.041);
    width: calc(35% - 1.5%);
    height: 100%;
    color: lightgray;
}

.image2 {
    height: 50%;
}

    .image2 img {
        width: 100%;
        height: 40%;
        /* float: left; */
        background-size: cover;
        background-position: center;
    }

.sadrzaj {
    height: 50%;
    line-height: 120%;
}

    .sadrzaj .subtitleColumn {
        text-transform: uppercase;
        font-size: 80%;
        padding: 2%;
        display: inline-flex;
    }

    .sadrzaj .summaryColumn {
        font-size: 80%;
        color: gray;
    }

#donjiDio {
    width: 100%;
    margin: 3% 0 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.2px;
    line-height: 27px;
}

#sadrzajRecenzije {
    background-color: rgba(255, 255, 255, 0.041);
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 1.5%;
    padding: 2% 3%;
    color: lightgray;
}

#sidebar {
    background-color: rgba(80, 252, 0, 0.041);
    float: left;
    width: calc(35% - 1.5%);
}

    #sidebar .article {
        width: 100%;
        padding: 3%;
        border-bottom: 1px solid gray;
    }

        #sidebar .article .image {
            /* width: calc(40% - 6%); */
            float: left;
            width: 40%;
            height: 100%;
        }

            #sidebar .article .image img {
                /* max-width: 80px;
    max-height: 80px;
    width: 75%; */
                max-width: 80px;
                max-height: 80px;
                width: 90%;
                opacity: 0.8;
            }

                #sidebar .article .image img:hover {
                    cursor: pointer;
                    opacity: 1;
                }

        #sidebar .article .content {
            /* width: (60%- 6%); */
            width: 100%;
            /* float: left; */
            padding: 1% 0;
            padding-left: 15px;
            font-size: 14px;
            color: white;
        }

.content .title:hover {
    opacity: 0.7;
    cursor: pointer;
}

.clearfix {
    overflow: auto;
}

.article .time {
    font-size: 90%;
    color: #B5B5B5;
    font-weight: 400;
    display: block;
    text-align: right;
}
