@model GamingHub2.Model.Requests.RecenzijaUpsertRequest

@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    #sredisnjisadrzaj {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3% 7%;
        max-width: 100%;
        background-image: url("../img/dark-wallpaper.jpg");
        background-size: cover;
    }

    html {
        background-size: cover;
        background: #4c4c4c;
        background-image: url(../img/dark-wallpaper.jpg);
    }
</style>

<h4>Dodavanje/Uredjivanje recenzije</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Uredi" asp-controller="Recenzija" method="post" enctype="multipart/form-data" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumObjave" class="control-label"></label>
                <input asp-for="DatumObjave" readonly class="form-control" />
                <span asp-validation-for="DatumObjave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sadrzaj" class="control-label"></label>
                <textarea asp-for="Sadrzaj" value="@Model.Sadrzaj" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Sadrzaj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IgraId" readonly hidden class="control-label"></label>
                <input asp-for="IgraId" readonly hidden class="form-control" />
                <span asp-validation-for="IgraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" readonly hidden class="control-label"></label>
                <input asp-for="KorisnikId" readonly hidden class="form-control" />
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slika" readonly hidden class="control-label"></label>
                <input asp-for="Slika" readonly hidden class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImeIgre" readonly class="control-label"></label>
                <input asp-for="ImeIgre" readonly class="form-control" />
                <span asp-validation-for="ImeIgre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoRecenzija" class="control-label"></label>
                <input asp-for="VideoRecenzija" class="form-control" />
                <span asp-validation-for="VideoRecenzija" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="stringSlika" class="control-label"></label><br />
                @if (!string.IsNullOrEmpty(Model.stringSlika))
                {
                    <img src="@Model.stringSlika" style="max-width:100px; max-height:100px" />
                }
                <input asp-for="stringSlika" type="file" name="file" id="file" />
                <span asp-validation-for="stringSlika" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="dugmad">
                    <input type="submit" value="Snimi" class="dugme-read">  <a asp-action="Index" type="button" class="dugme-read dugme-cancel">Odustani</a>
                </div>
            </div>
        </form>
    </div>
</div>
