@model GamingHub2.Model.IgraZanrPrikazVM

<button class="btn btn-success" onclick="StavkaDodaj(@Model.IgraID)">Dodaj</button>
<br />
<table width="50%" class="table table-bordered">
    <thead>
        <tr>
            <th> Zarn</th>
            <th> Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var iz in Model.rows)
        {
            <tr>
                <td>@iz.Zanr</td>
                <td>
                    <button class="btn btn-danger" onclick="StavkaObrisi(@iz.IgraZanrID)">Obrisi</button>
                </td>
            </tr>
        }
    </tbody>

</table>