@model GamingHub2.Model.Requests.ZanrUpsertRequest

<style>
    #sredisnjisadrzaj {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3% 7%;
        max-width: 100%;
        background-image: url("../img/dark-wallpaper.jpg");
        background-size: cover;
    }

    html {
        background-size: cover;
        background: #4c4c4c;
        background-image: url(../img/dark-wallpaper.jpg);
    }
</style>

<h4>Žanrovi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Uredi" asp-controller="Zanr" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group" readonly style="display:none">
                <label>Id</label>
                <input name="Id" value="@ViewBag.Id" class="form-control" />-->
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            <!--</div>-->
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" value="@Model.Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" value="@Model.Opis" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="dugmad">
                    <input type="submit" value="Snimi" class="dugme-read">  <a asp-action="Index" type="button" class="dugme-read dugme-cancel">Odustani</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
