@using GamingHub2.WebApp2.Helpers
@{
    var LogiraniKorisnik = await Context.GetLogiraniKorisnik();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamingHub2.WebApp2</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" href="/css/headerandfooter.css">
    @*<link rel="stylesheet" href="../css/shopStil.css">*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .half {
            width: 50%;
            float: left;
        }

        .formicons {
            display: inline;
            font-size: 200%;
            margin: 2% 3%;
        }

            .formicons:hover {
                color: white;
                cursor: pointer;
            }

        #groupForm-icons {
            margin: 6% 0 3%;
        }

        .half input {
            margin: 4% auto 6%;
            padding: 2%;
            text-align: center;
            background-color: lightgray;
            outline: none;
            width: 70%;
            display: block;
        }

            .half input:hover {
                background-color: white;
            }

        #submit {
            width: 85%;
            padding: 2%;
            margin: 4% 0;
        }

        .text-danger ul li {
            display: block;
        }

      #sredisnjisadrzaj {
            padding: 3% 0;
        }

        html {
            background-color: bisque;
        }

     #wrapper
     {
         margin: 7% 0;
     }
    </style>
</head>
<body>

    <div id="main-container">
        <div id="headerbg">
            <header>
                <div id="left-header">
                    <ul>
                        <li><a href="/Home">Početna</a></li>
                        <li>
                            <div class="dropdown">
                                <a href="~/Korisnici/Index">Korisnici</a>
                                <div class="dropdown-content">
                                    <a href="~/Korisnici/Index">Prikaz korisnika</a>
                                    <a href="#">Novi korisnik</a>
                                    <a href="~/Uloge/Index">Uloge</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="~/Konzola/Index">Konzole</a>
                        </li>

                        <li>
                            <a href="~/Zanr/Index">Žanrovi</a>
                        </li>

                        <li>
                            <div class="dropdown">
                                <a href="~/Igra/Index">Igre</a>
                                <div class="dropdown-content">
                                    <a href="~/Igra/Index">Prikaz igara</a>
                                    <a href="~/Igra/Uredi">Nova igra</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown">
                                <a href="~/Recenzija/Index">Recenzije</a>
                                <div class="dropdown-content">
                                    <a href="~/Recenzija/Index">Prikaz recenzija</a>
                                    <a href="~/Recenzija/Dodaj">Nova recenzija</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown">
                                <a href="~/Proizvod/Index">Proizvodi</a>
                                <div class="dropdown-content">
                                    <a href="~/Proizvod/Index">Prikaz proizvoda</a>
                                    <a href="~/Proizvod/Dodaj">Novi proizvod</a>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>

                <div id="right-header">
                    <ul>
                        @if (LogiraniKorisnik == null)
                        {
                            <li><a href="~/Login/Index">Prijava</a></li>
                        }
                        else
                        {
                            <li><a href="~/Login/Logout">Odjava</a></li>
                        }

                    </ul>
                </div>
                <div class="clear"></div>
            </header>
        </div>


        <div class="container" id="sredisnjisadrzaj">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - GamingHub2.WebApp2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
